@page "/my_tasks"

@using Shared.Task

@rendermode InteractiveServer

<h3>Tasks</h3>

<MudDataGrid
    T="TaskData"
    Items="@_tasks"
    @bind-SelectedItems="_selectedTasks"
    ShowMenuIcon="true"
    SelectOnRowClick="false"
    RowClick="@GotoEditTask"
    RowContextMenuClick="@ShowContextMenu"
    EditMode="@(_isCellEditMode ? DataGridEditMode.Cell : DataGridEditMode.Form)">
    
    <Columns>
        <SelectColumn/>
        <PropertyColumn Property="x => x.SimpleId" Title="Id"/>
        <PropertyColumn Property="x => x.Title"/>
        <PropertyColumn Property="x => x.Description"/>
        <PropertyColumn Property="x => x.Status"/>
    </Columns>
</MudDataGrid>

<MudDataGrid @bind-Items="_selectedTasks">
    <PropertyColumn Property="x => x.SimpleId" Title="Id"/>
</MudDataGrid>